<!--
  Generated template for the ComidasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary">
        <ion-title>Grupos de Alimentos </ion-title>
      </ion-navbar>

</ion-header>


<ion-content >
    <ion-toolbar no-border-top *ngIf="demo != 'Title'">
       
        <ion-segment color="danger" [(ngModel)]="op">
          <ion-segment-button value="op1">
           Equivalentes 
          </ion-segment-button>
          <ion-segment-button value="op2">
           Alimenticios
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
    
      
    
      
  <ion-list>


      <ion-item-group #item *ngFor="let i of registros">


          <button ion-item (click)="alimentos(i.idtipo)">
            <ion-icon name="md-restaurant" item-start color="primary"></ion-icon>
            <ion-label>{{i.grupo}} <br> {{i.nombre}}  <p>Porción(s)  : {{i.porcion}}</p></ion-label>
       
            <ion-note item-end>Ver</ion-note>
          </button>
         
          
        </ion-item-group>

  


  </ion-list>
</ion-content>
