<!--
  Generated template for the ComidasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary"> <ion-title> Actividades </ion-title> </ion-navbar>
</ion-header>

<ion-content>
  <ion-toolbar no-border-top *ngIf="demo != 'Title'">
    <ion-segment color="danger" [(ngModel)]="op">
      <ion-segment-button value="op1"> Semanas </ion-segment-button>
      <ion-segment-button value="op2"> Series/ Grupos </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div [ngSwitch]="op">
    <ion-list *ngSwitchCase="'op1'">
      <ion-item-group #item *ngFor="let i of registros">
        <button ion-item (click)="micro(i.idc_dia_semana)">
          <ion-icon ios="ios-clock" md="md-clock" item-start color="primary"></ion-icon>
          <ion-label>{{ i.dia }} </ion-label>

          <ion-note item-end>Ver</ion-note>
        </button>
      </ion-item-group>
    </ion-list>

    <ion-list *ngSwitchCase="'op2'"> 
      
        <ion-item-group #item *ngFor="let d of registrosg">
            <button ion-item (click)="ejericios(d.idgrupo_plan)">
              <ion-icon name="md-code-download" item-start color="primary"></ion-icon>
              <ion-label text-wrap>{{ d.nombre }}<p style="color:rgb(226, 32, 106)">Serie por grupo muscular : </p><p>{{ d.recomendacion }}</p> </ion-label>
    
              <ion-note item-end>Ver</ion-note>
            </button>
          </ion-item-group>
    </ion-list>
  </div>
</ion-content>
